/**
 * Created by GG on 15/9/4.
 */

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 120px auto 50px auto;
    font-size: 48px;
    text-align: center;
}

.tip {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: green;
    padding: 0 50px;
}

.qrcode-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -120px;
    width: 640px;
    height: 360px;
}

#qrcode {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#qrcode img {
    margin: 0 auto;
    width: 360px;
    height: 360px;
}