/**
 * Created by GG on 15/7/30.
 */

html, body {
    width: 100%;
    height: 100%;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.main:-webkit-full-screen {
    background: black;
    color: white;
}

.main:-moz-full-screen {
    background: black;
    color: white;
}

.main:-ms-fullscreen {
    background: black;
    color: white;
}

.main:fullscreen {
    background: black;
    color: white;
}